<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Movie Design</title>
</head>
<body>
	<div class="navbar">
	 <div class="navbar-container">
	 	 <div class="logo-container">
	 	 	<div class="logo"><h1 >MovieDex </h1></div> 
	 	 </div>
	 	 <div class="menu-container">
	 	 	<div id=tags>
	 	 		<div class="tag" id="ts1">Fantasy</div>
	 	 		<div class="tag" id="ts2">Adventure</div>
	 	 		<div class="tag" id="ts3">Comedy</div>
	 	 		<div class="tag" id="ts4">Crime</div>
	 	 	</div>
	 	 </div>
	 	 <div class="search-container">
	 	 	 <form  id="form">
            <input type="text" placeholder="Search" id="search" class="search">
        </form>
	 	 </div>
	 	 <div class="profile-container">
	 	 	<div class="theme-text">Theme</div>
	 	 	 <div class="toggle">
                    <i class="fas fa-moon toggle-icon"></i>
                    <i class="fas fa-sun toggle-icon"></i>
                    <div class="toggle-ball"></div>
                </div>
	 	 </div>
	 </div>
	</div>
	<div class="sidebar">
		<a  href="https://www.themoviedb.org/" class="left-menu-icon fas fa-video"></a>
	</div>
	 <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content" id="overlay-content"></div>
        
        <a href="javascript:void(0)" class="arrow left-arrow" id="left-arrow">&#8656;</a> 
        
        <a href="javascript:void(0)" class="arrow right-arrow" id="right-arrow" >&#8658;</a>

      </div>
	<div class="container">
		<div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('../static//img/f-3.jpg');">
                <img class="featured-title" src="{{ url_for('static', filename='img/f-8.png') }}" alt="">
                <p class="featured-desc"> THE GROUP 29 PROJECT <br> Movie dex is a online platform to provide information about movies.<br>Get the latest info about new realeases and popular genres<br>Watch trailer and Rating by hovering over the tab.<br> Spend some time chatting With the Chatbot  </p>
                </div>
		        <div class="movie-list-container">
		        	<h1 class="movie-list-title">NEW RELEASES<h3 class="linker"><a href="{{url_for('newpage')}}">&lt WATCH MORE &gt</a></h3></h1>
		        	<div class="movie-list-wrapper">
                    <div class="movie-list" id="main">
                    	
                    
                </div>
                <i class="fas fa-chevron-right arrowss"></i>
		        </div>
	</div>
	 <div class="movie-list-container">
		        	<h1 class="movie-list-title">HORROR</h1>
		        	<div class="movie-list-wrapper">
                    <div class="movie-list" id="act">
                    	
                    
                </div>
                <i class="fas fa-chevron-right arrowss"></i>
		        </div>
	</div>
      <div class="movie-list-container">
		        	<h1 class="movie-list-title">SCI-FI</h1>
		        	<div class="movie-list-wrapper">
                    <div class="movie-list" id="scifi">
                    	
                    
                </div>
                <i class="fas fa-chevron-right arrowss"></i>
		        </div>
	</div>
   <div class="movie-list-container">
		        	<h1 class="movie-list-title">WAR</h1>
		        	<div class="movie-list-wrapper">
                    <div class="movie-list" id="war">
                    	
                    
                </div>
                <i class="fas fa-chevron-right arrowss"></i>
		        </div>
	</div>
   <div class="movie-list-container">
		        	<h1 class="movie-list-title">ANIMATION</h1>
		        	<div class="movie-list-wrapper">
                    <div class="movie-list" id="anime">
                    	
                    
                </div>
                <i class="fas fa-chevron-right arrowss"></i>
		        </div>
	</div>
   <div >
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is MovieDex. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='img/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>
  <footer class="footer">
<div class="l-footer">
<h1>
</h1>
<p>
Group 29 is a six member group formed by students of uemk for the presentation of final year project of 2022 batch  </p>
</div>
<ul class="r-footer">
<li>
  <h2>
Social</h2>
<ul class="box">
<li><a href="#">Facebook</a></li>
<li><a href="#">Twitter</a></li>
</ul>
</li>
<li class="features">
  <h2>
Developers</h2>
<ul class="box h-box">
<li><a href="#">Sourav Banerjee</a></li>
<li><a href="#">Archisman Banik</a></li>
<li><a href="#">Rishav Naskar</a></li>
<li><a href="#">Sayan Kumar Das</a></li>
<li><a href="#">Shubam Singh</a></li>
<li><a href="#">Sandip Haldar</a></li>
</ul>
</li>
<li>
  <h2>
Contact</h2>
<ul class="box">
<li><a href="#">souravbnrj99@gmail.com </a></li>
</ul>
</li>
</ul>
<div class="b-footer">
<p>
All rights reserved by Project Group 29 Uemk 2021-22 </p>
</div>
</footer>
  
</body>
 <!--script src="script.js"></script-->
  <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
   
    </html>